<footer class="footer">
    <div class="footer-row">
        {{ range .Site.Sections }}
            {{ $section := . }}
            {{ with .OutputFormats.Get "rss" }}
                <a class="footer-item" href="{{ .Permalink }}">
                    RSS Feed
                    <i class="icofont-rss"></i>
                </a>
            {{ end }}
        {{ end }}

        {{ if not (or .IsHome .IsSection) }}
            {{ $term := . }}
            {{ with .OutputFormats.Get "rss" }}
                <a class="footer-item" href="{{ .Permalink }}">
                    RSS Feed
                    <i class="icofont-rss"></i>
                </a>
            {{ end }}
        {{ end }}
    </div>

    {{ range .Site.Params.footer_rows }}
        <div class="footer-row">
            {{ range .items }}
                {{ with .pre }}
                    <span class="footer-item">{{ . | safeHTML }}</span>
                {{ else }}
                    <a class="footer-item" href="{{ .url }}">{{ .name }}</a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
</footer>


<script>
    MathJax = {
        tex: {
            autoload: {
                verb: ['braket']
            },
            inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
            fontCache: 'global'
        }
    };
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
</script>