<header class="header-wrapper">
    <div class="header">
        <div class="logo">
            <h1> 
                 <a href="https://www.strathweb.com">
                 <img src="/images/strathweb.png" alt="Strathweb" class="">
                     <div class="text">
                         StrathWeb.
                         <span>A free flowing tech monologue.</span>
                     </div>
                 </a>
             </h1>
         </div>
        <!-- <a class="site-title" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> -->

        <ul class="menu">
            {{ range .Site.Menus.main }}
                <li class="menu-item">
                    {{ if not .Children }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ else }}
                        <a>{{ .Name }}↓</a>
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li class="menu-item"><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </div>
</header>
